html {
	background:#04374e;
	padding:0;
	margin:0;
	font-size: 62.5%;
}

body {
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size: 12px; font-size: 1.2rem;
	overflow:hidden;
}

iframe {
	border:0px;
	overflow:hidden;	
}

/*--------------Map------------------*/


#mapContainer {
	float:left;
	width: 100%;
	overflow:hidden;
	/*background:url("../images/banner.jpg") no-repeat left top transparent;*/
}

#mapHeader {
	text-indent:-5000px;
	height:170px;
}

#mapBanner {
	z-index:200;
	position:absolute;
	top:0;
	left:0;
}

#mapMap {
}

#mapKeys {
	background: #222;
	height: 70%;
    overflow: auto;
    position: fixed;
    right: 20px;
    top: 60px;
    width: 180px;
	color:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:20px;
	padding-top:20px;
	z-index:500;
	border: 1px solid black;
	box-shadow:1px 1px 20px #000;
}

.mapKey {
	cursor:pointer;
	color:#F8CF03;
	font-style:underline;
}

#mapKeys .mapKey {
	color:#fff;
}

#mapKeys .mapKey:hover {
	color:#F8CF03;
	font-style:underline;
}

#mapKeys p {
	line-height:1.2em;
}

/* centered vertically and horizontally */
#mapDataBox {
	position: absolute;
	left:50%;
	top:50%;
	display:none;
	width:600px;
	height:380px;
	margin-left:-300px;
	margin-top:-190px;
	background-color: #284B56;
	color:#fff;
	border: 1px solid black;
	box-shadow:1px 1px 20px #000;
	z-index: 500;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#mapData {
	overflow:auto;
	width:98%;
	height:300px;
	margin: 0px auto;
}

#mapDataTitle{
	float: left;
	margin: 15px 25px 10px;
	font-weight: bold;
	font-size: 16px; 
	font-size: 1.6rem; 
}

.mapKey {
	font-size: 16px; 
	font-size: 1.6rem;  
	font-weight:bold;
	}

#mapData p {
	padding:5px 20px;
}

#mapTip {
	position: absolute;
	display:none;
	z-index: 150;
	background-color: #222;
	color:#fff;
	padding:10px;
	box-shadow:1px 1px 10px #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#mapTip a {
	color:#FED000;
	text-decoration:underline;
}

#mapBlock {
	position: absolute;
	top:0;
	left:0;
	min-width:100%;
	min-height:100%;
	z-index: 400;
	background-color: #222;
	opacity: 0.4;
	filter:alpha(opacity=40);
}

img.map {
	/* Set rules to fill background */
	min-height: auto;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: relative;
	top: 0;
	left: 0;
	
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.map {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}

.mapPin {
	position: absolute;
	width: 26px;
	height: 42px;
	background:url(../images/pin.png) no-repeat;
	/*background:#FFC900;
	width:3px;
	height:3px;*/
	z-index:100;
}

.mapPin:hover {
	cursor:pointer;
}

.mapPinSelected {
	background:url(../images/pin2.png) no-repeat;
	z-index:150;
}

#mapDataClose {
	float: right;
	margin: 15px 15px 10px 0;
	padding:5px 10px;
	background:#357185;
	color:#fff;
	border: 1px solid #000000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow: 1px 1px 3px #0D242C;;
}

#mapDataClose:hover {
	background:#203F4A;
	color:#fff;
	cursor:pointer;
}


/*--------------Headings and Text------------------*/

h1 { 
	font-size: 10px; 
	font-size: 1.0em; 
}

h2 { 
	font-size: 24px; 
	font-size: 2.4rem; 
}

h3 { 
	font-size: 18px; 
	font-size: 1.8rem; 
}

h4 { 
	font-size: 16px; 
	font-size: 1.6rem; 
}

h5 { 
	font-size: 13px; 
	font-size: 1.3rem; 
}

h6 { 
	font-size: 10px; 
	font-size: 1.0rem; 
}

p, li {
	font-size: 12px;
	font-size: 1.2rem;
}


h1 {
	padding:0;
	margin:0;
}

h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding-top:0;
	padding-bottom: 5px;
	padding-left:20px;
	border-bottom:none;
	letter-spacing:0;
	color:#4D648E;
}

hr, p, ul, ol, dl, pre, blockquote, address, table, form {
    line-height: 1.6em;
    margin-bottom: 1em;
}

#footer p, #footer li {
    font-size: 1.1rem !important;
}

/*--------------Links------------------*/

a, a:active {
    color: #FFD00A;
}

a:link {
	color: #FFD00A; 
	text-decoration: none;}
	
a:visited {
	color: #FFD00A; 
	text-decoration: none;}
	
a:hover {
	color: #6A9CA3;
	text-decoration: underline;}

a:active {
	color: #FFD00A;
	text-decoration: none;}

a:current {
	color:#FFD00A;
	text-decoration:underline;
	}	

	
.error {
	color:#F00 !important;
	padding-bottom:20px;
}
